:root {
  --color-primary-gold: #ad974f;
  --color-primary-gold-dark: #8e793e;
  --color-secondary-gray: #eaeaea;
  --color-tertiary-dark: #231f20;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-secondary-gray);
}

h2 {
  color: var(--color-primary-gold);
}

a {
  color: var(--color-primary-gold);
}
