.btn {
  background-color: var(--color-primary-gold);
  border-color: var(--color-primary-gold);
  color: var(--color-secondary-gray);
}

.btn:hover {
  background-color: var(--color-secondary-gray);
  border-color: var(--color-secondary-gray);
  color: var(--color-primary-gold);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary-gold-dark);
  color: var(--color-secondary-gray);
}

.btn-ghost:hover {
  background-color: var(--color-primary-gold-dark);
  border-color: var(--color-primary-gold-dark);
  color: var(--color-secondary-gray);
}

.btn-ghost-gold {
  background-color: transparent;
  border-color: var(--color-primary-gold-dark);
  color: var(--color-primary-gold-dark);
}

.btn-ghost-gold:hover {
  background-color: var(--color-primary-gold-dark);
  border-color: var(--color-primary-gold-dark);
  color: var(--color-secondary-gray);
}

.btn-ghost-dark {
  background-color: transparent;
  border-color: var(--color-tertiary-dark);
  color: var(--color-tertiary-dark);
}

.btn-ghost-dark:hover {
  background-color: var(--color-tertiary-dark);
  border-color: var(--color-tertiary-dark);
  color: var(--color-secondary-gray);
}
