.gold-background {
  background-color: var(--color-primary-gold-dark);
}

.twenty-off {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.limited-time {
  font-weight: 300;
}

.light-gray {
  color: var(--color-secondary-gray);
}

.dark-gray-txt {
  color: var(--color-tertiary-dark);
}

box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
