.gold-light {
  color: #ad974f;
}

.light-gray {
  color: #eaeaea;
}

h1 {
  font-weight: 500;
}

@media only screen and (min-width: 38em) {

  .banner-pin {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .banner-pad-tb {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }

}
